@model IEnumerable<CricMazaServerDb.Models.Teams>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>
                    Team Logo
                </th>

                <th>
                   Team Name
                </th>
                <th>
                    Owner
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@("/Images/"+item.Teamlogo)" width="150" height="150" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Towner)
                    </td>


                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Tid">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Tid">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Tid">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>