@model CricMazaServerDb.Models.PlayerProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


    <h4>PlayerProfile</h4>
    <hr />
    <ul style="list-style-type:none;display: block; margin-left: auto;margin-right: auto;width: 50%;">
        <li><h1 class="text-center text-info">@Html.DisplayFor(model => model.P.Tplayer)</h1></li>
        <li><img src="@("/Images/"+Model.P.Img)" height="200" width="200" /></li>



        <li>Country :&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.Country)</b></li>

        <li>IPL Team :&nbsp;&nbsp;<b> @Html.DisplayFor(model => model.T.Tname)</b></li>








        <li> Role :&nbsp;&nbsp;<b>  @Html.DisplayFor(model => model.Role)</b></li>

        <li> Highest Score :&nbsp;&nbsp;<b>   @Html.DisplayFor(model => model.HighestScore)</b></li>

        <li>Best Bowling :&nbsp;&nbsp;<b>  @Html.DisplayFor(model => model.BestBowling)</b></li>












    </ul>
    

<div>
    <a asp-action="Edit" asp-route-id="@Model.Profileid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
